@model MVMCorrespondencia.Models.Correspondenciaexterna

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Correspondenciaexterna</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Radicadoexterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Radicadoexterno)
        </dd>
        <dt class = "col-sm-2">
            Destinatario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcontactodestinatarioNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Remitente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcontactoremitenteNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Consecutivoexterna">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
